# Predicting Fraudulent Transactions Using Neural Networks

Now that you’ve learned how to build a deep neural network, you’ll apply those skills to create a deep learning model that can predict financial fraud. But in this activity, rather than a regression deep learning model, you will create a classification deep learning model.

## Instructions:

### Load and Preprocess the Data

1. Read the data from the CSV file into a Pandas DataFrame.

2. Create the target set `y` by assigning the values of the “isFraud” column of the DataFrame.

3. Define the features set `X` by including all of the columns of the DataFrame except for the “isFraud” column.

4. Create the training and testing sets using the `train_test_split` function from scikit-learn.

5. Scale the features data using the `StandardScaler` from scikit-learn.

### Create and Evaluate a Deep Neural Network Model

1. Create a deep neural network model with the following structure:

    * 9 inputs
    * First hidden layer with 18 neurons
    * Second hidden layer with 8 neurons
    * Output layer with a single output
    * Hidden layers use the ReLU activation function, and output layer uses the sigmoid activation function

2. Display the model structure using the 'summary` function.

3. Compile the neural network model using the `binary_crossentropy` loss function, the `adam` optimizer, and `accuracy` as an additional metric.

4. Fit the model with the training data, using 100 epochs.

5. Evaluate the model using testing data and the `evaluate` method.


## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

In [54]:
# Imports
import pandas as pd

import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## Load and Preprocess the Data

### Step 1: Read the data from the CSV file into a Pandas DataFrame.

In [55]:
# Read the credit_card_transactions.csv file from the Resources folder into a Pandas DataFrame
cc_transactions_df = pd.read_csv('credit_card_transactions.csv')
cc_transactions_df

,dateMonth,dateWeekday,dateQuarter,operationType,amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,1,1,4,736.76,1120.00,383.24,0.00,0.00,0
1,1,1,1,2,256226.20,0.00,0.00,518041.64,1305828.01,0
2,1,1,1,5,310027.49,61594.00,0.00,10089.00,1157398.83,0
3,1,1,1,1,76695.35,9064440.33,9141135.68,880045.33,206147.08,0
4,1,1,1,4,4761.57,0.00,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
99995,12,1,4,1,109534.19,18292168.76,18401702.96,403737.01,294202.82,0
99996,12,1,4,1,103920.74,5486901.65,5590822.39,1267095.24,2239899.53,0
99997,12,1,4,5,1298677.95,0.00,0.00,280579.46,1579257.41,0
99998,12,1,4,1,82450.63,4135263.42,4217714.05,2289239.02,2436585.65,0
99999,12,1,4,1,78848.28,144962.00,223810.28,13861.87,0.00,0

### Step 2: Create the target set `y` by assigning the values of the “isFraud” column of the DataFrame.

In [73]:
# Define the target set by selecting the isFraud column
y = cc_transactions_df['isFraud']
type(y)

pandas.core.series.Series

### Step 3: Define the features set `X` by including all of the columns of the DataFrame except for the “isFraud” column.

In [58]:
X = cc_transactions_df.drop(columns=['isFraud'])
X.head()

,dateMonth,dateWeekday,dateQuarter,operationType,amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,1,1,4,736.76,1120.00,383.24,0.00,0.00
1,1,1,1,2,256226.20,0.00,0.00,518041.64,1305828.01
2,1,1,1,5,310027.49,61594.00,0.00,10089.00,1157398.83
3,1,1,1,1,76695.35,9064440.33,9141135.68,880045.33,206147.08
4,1,1,1,4,4761.57,0.00,0.00,0.00,0.00

### Step 4: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [59]:
# Create training and testing datasets using train_teat_split
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 5:  Scale the features data using the `StandardScaler` from scikit-learn.

In [61]:
# Create the StandardScaler instance
X_scaler = StandardScaler()

In [63]:
# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

StandardScaler()

In [42]:
# Scale both the training and testing data from the features dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Create and Evaluate a Deep Neural Network Model

### Step 1: Create a deep neural network model with the following structure:

    * 9 inputs
    * First hidden layer with 18 neurons
    * Second hidden layer with 8 neurons
    * Output layer with a single output
    * Hidden layers use the ReLU activation function, and output layer uses the sigmoid activation function

In [64]:
# Define the the number of inputs to the model - ######### Number of variables
number_inputs = 9 

# Define the number of hidden nodes for the first hidden layer ######## 18 neurons
hidden_nodes_layer1 = 18 

# Define the number of hidden nodes for the second hidden layer ####### 8 neurons
hidden_nodes_layer2 = 8

# Create the Sequential model instance
nn = Sequential()

# Add the first Dense layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_inputs))

# Add the second Dense layer specifying the number of hidden nodes and the activation function ###### dont need to add input_dim because it knows from before
nn.add(Dense(units=hidden_nodes_layer2, activation="relu")) 

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

### Step 2. Display the model structure using the `summary` function.

In [17]:
# Number of Params for first hidden layer should equal:

#########         no. of neurons  x  number of inputs (X_variables)  +   no. of neurons

#########  Simply , we get the number of neurons in that particular hidden layer, multiply it by the number of x variables (vectors of them) and then add back number of neurons due to the parameter for each (intercepts)
18 * 9 + 18

180

In [65]:
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 18)                180
_________________________________________________________________
dense_10 (Dense)             (None, 8)                 152
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 9
=================================================================
Total params: 341
Trainable params: 341
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the neural network model using the `binary_crossentropy` loss function, the `adam` optimizer, and `accuracy` as an additional metric.

In [66]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"]) # loss function for binary issue

### Step 4: Fit the model with the training data, using 100 epochs.

In [67]:
# Fit the model using 100 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=20) # Simply training the X_train on y_train

ValueError: Failed to find data adapter that can handle input: <class 'numpy.ndarray'>, <class 'pandas.core.series.Series'>

### Step 5: Evaluate the model using testing data and the `evaluate` method.

In [13]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the evaluation results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

782/782 - 0s - loss: 0.0060 - accuracy: 0.9988
Loss: 0.006045293528586626, Accuracy: 0.9987999796867371

# Improving Model Accuracy:

1. Increase neurons in existing hidden layers<br>2. Increase number of hidden layers<br>3. Test different activation functions (first to try, because easy)<br>4. Using more epochs